<!--Dsigned by templatesperfect.com-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Free Law Lawyers Template</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
<div class="outer">
<div id="logo-bg">
<div class="name">Law Template </div>
<div class="tag">Slogan will come here</div>
</div>
<div id="headimage"></div>

<!--Header end-->
<div style="clear:left"></div>

<div id="rc1"></div>
<div id="bg">
<div class="toplinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Homepage</a></div>
<div class="sap">|</div>
<div class="toplinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">About us</a></div>
<div class="sap">|</div>
<div class="toplinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Products</a></div>
<div class="sap">|</div>
<div class="toplinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Services</a></div>
<div class="sap">|</div>
<div class="toplinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Contact us</a></div>
</div>
<div id="rc2"></div>

<!--Top nav end-->
<div style="clear:left"></div>
<div id="outer2">

<div id="content">
<span class="heading">Welcome to our website </span>
<div id="main">
  <p><img src="images/lawbook.jpg" alt="Law book" width="250" height="134" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur nibh.   Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia   Curae; Vestibulum sapien enim, cursus in, aliquam sit amet, convallis eget,   metus. Duis dui mi, varius at, lacinia eget, ullamcorper et, tortor.   Pellentesque ac pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.   Aenean orci mi, varius eget, mollis vel, rhoncus a, leo. Ut eros enim, vehicula   quis, gravida ac, sodales sit amet, orci. Nulla eleifend tristique erat.</p>
  <p>Nunc commodo metus et lorem. Phasellus vel libero. Vestibulum eu enim. Mauris   pharetra. Vestibulum ligula libero, vestibulum quis, commodo non, sagittis eget,   elit. Ut nec tellus. Nunc ligula quam, vulputate ut, imperdiet nec, luctus at,   magna. Nunc posuere nulla ac tortor. Donec facilisis, turpis eu hendrerit   ultricies, lectus sapien nonummy justo, eget rutrum lorem nulla sed nunc. Nam   vestibulum neque vitae lacus aliquam tristique. Ut odio quam, mollis in,   ultrices vel, ullamcorper id, diam. Curabitur eget odio a lacus pulvinar   condimentum. Suspendisse elementum.</p>
  <p>Quisque vulputate. Aliquam condimentum, odio vel ultrices sodales, augue   lorem vehicula mi, vel nonummy nisl eros et tortor. Duis laoreet pellentesque   lorem. Nam sagittis condimentum libero. Nullam a ante vel massa accumsan   elementum. Sed mauris metus, tincidunt quis, blandit at, viverra a, ligula.   Pellentesque neque metus, mattis non, tincidunt vitae, euismod scelerisque,   nulla. Fusce justo. Donec nec nibh. Sed suscipit bibendum leo. Nulla erat   ligula, egestas consequat, sagittis ut, fermentum a, diam. Sed turpis est,   aliquam nec, lacinia sed, aliquam non, libero. Ut turpis. Pellentesque viverra   pharetra quam.</p>
    <p>
    Aenean dapibus, leo vitae eleifend porta, sem ipsum nonummy est, eu fermentum   arcu lectus in lacus. Vestibulum tristique metus eu lorem. Pellentesque sed   erat. Morbi pharetra condimentum massa. Vestibulum vel nulla at eros porta   tempus. Fusce at lorem. Nulla facilisis. Phasellus nisl. Integer id massa nec   tellus rutrum pellentesque. Mauris orci mauris, dictum vitae, varius eget,   vestibulum quis, risus. Pellentesque dictum, magna vitae pulvinar interdum, orci   lacus posuere neque, et lacinia dui eros ut erat. Ut purus. Nullam ac tellus et   eros condimentum interdum</p>
</div>
</div>
<div id="left-nav">
<span class="heading">Quick Link</span>
<div class="leftlinks">
<ul>
<li><a href="#">Text Link</a></li>
<li><a href="#">Text Link</a></li>
<li><a href="#">Text Link</a></li>
<li><a href="#">Text Link</a></li>
<li><a href="#">Text Link</a></li>
<li><a href="#">Text Link</a></li>
<li><a href="#">Text Link</a></li>
  </ul></div>
  
  <div id="news-bg">
  <span class="heading">News and Updates</span
><div class="date">27.07.2009</div>
<div class="news-txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sapien enim, cursus in, aliquam sit amet, convallis eget, metus. Duis dui mi, varius at, lacinia eget, ullamcorper et, tortor. Pellentesque ac pede. Lorem ipsum dolor</div>
<div>
  <div style="float:right;"><a href="#">Read More</a></div>
</div>
</div>
  </div>
  
<div style="clear:left"></div>
</div>

<!--Bottom part-->
<div id="bottom">
<div class="footerlinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Homepage</a></div>
<div class="sap">|</div>
<div class="footerlinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">About us</a></div>
<div class="sap">|</div>
<div class="footerlinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Products</a></div>
<div class="sap">|</div>
<div class="footerlinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Services</a></div>
<div class="sap">|</div>
<div class="footerlinks"><a href="http://www.cmgtechnologies.com/free-css-templates/business71/index.html">Contact us</a></div>

<div id="credit">&copy; 2009 Companyname.com Designed by <a href="http://www.templatesperfect.com/" target="_blank">Templates Perfect</a></div>
</div>
</div>
</center>
</body>
</html>
