body, html {
	margin: 0;
	height: 100%;
}
.container{
	padding: 5px;
}

.message_box{
	color: #FF7A00;
}

.top .user_container.logined{
	width: auto;
	margin: 0px;
	float: right;
	padding-right: 10px;
}

.wrap {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    min-width: 1000px;
}
.wrap >tbody >tr >td{
	vertical-align: top;
	padding: 0 10px;
}
.wrap >tbody >tr >td.top{
	height: 23px;
}
.wrap >tbody >tr:FIRST-CHILD >td{
	padding-top: 10px;
	padding-bottom: 7px;
}
.wrap >tbody >tr:LAST-CHILD >td{
	padding: 10px;
}

.footer{
    height: 14px;
    text-align: center;
}
.footer a, .footer a:visited{
	color: blue;
}

.menu.horysontal{
	float: left;
	padding-left: 10px;
}

.menu a, .menu a:visited{
	color: blue;
	text-decoration: none;
}
.menu a:HOVER {
	text-decoration: underline;
}