<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
    <title>Мурманский камень</title>

    <meta name="description" content="Spare Parts">
    <script type="text/javascript" src="Spare%20Parts_files/jquery02.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery03.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery-1.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery-u.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery00.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery01.js"></script>
    <!--[if IE]>
    <script type="text/javascript"
            src="catalog/view/javascript/jquery/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a
            href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img
            src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
            height="42" width="820"
            alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a>
    </div><![endif]-->
    <!--<script type="text/javascript" src="Spare%20Parts_files/tabs0000.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/easyTool.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/common00.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jQuery04.js"></script>
    <script type="text/JavaScript" src="Spare%20Parts_files/cloud-zo.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery05.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jscript_.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/superfis.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery06.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/script00.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery07.js"></script>
    <script type="text/javascript" src="Spare%20Parts_files/jquery08.js"></script>-->
    <!--[if  IE 8]>
    <style>
        #header #search input {
            padding-top: 7px;
            padding-bottom: 5px;
        }

        #header #cart .wrapper {
            overflow: visible;
        }

        #currency a  span {
            padding-top: 1px;
        }
    </style>
    <![endif]-->
    <!--[if  IE 9]>
    <style>
        #header #cart .wrapper {
            overflow: visible;
        }

        #currency a  span {
            padding-top: 1px;
        }

        #menu > ul > li.cat_4 > a {
            padding-right: 19px;
            padding-left: 19px;
        }

        .product-grid > div {
            width: 158px;
        }
    </style>
    <![endif]-->
    <!--[if  IE 7]>
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/theme017/stylesheet/ie7.css"/>
    <![endif]-->
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/theme017/stylesheet/ie6.css" />
    <!--<script type="text/javascript" src="catalog/view/javascript/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">
    DD_belatedPNG.fix('#logo img');
    </script>-->
    <![endif]-->
    <link rel="icon" href="Spare%20Parts_files/favicon0.png">
    <link rel="stylesheet" type="text/css" href="Spare%20Parts_files/styleshe.css">
    <link rel="stylesheet" type="text/css" href="Spare%20Parts_files/colorbox.css" media="screen">
    <link rel="stylesheet" href="Spare%20Parts_files/cloud-zo.css" type="text/css">
    <link rel="stylesheet"  href="Spare%20Parts_files/superfis.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="Spare%20Parts_files/slidesho.css" media="screen">
    <link rel="stylesheet" type="text/css" href="Spare%20Parts_files/jquery-u.css">
    <link rel="stylesheet" type="text/css" href="Spare%20Parts_files/jquery00.css" media="screen">
    <link rel="stylesheet" href="Spare%20Parts_files/css00000.css" type="text/css">
    <link rel="stylesheet" href="Spare%20Parts_files/css00001.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="Spare%20Parts_files/livesear.css">
    <link rel="stylesheet" type="text/css" href="my.css"/>
</head>
<body class="common-home">
<div class="main-shining">
<div class="main-container">
<p id="back-top"><a href="http://livedemo00.template-help.com/opencart_38753/#top"><span></span></a></p>

<div class="row-1">
    <div id="header">
        <div class="header-top">
            <div class="wrapper">
                <ul class="links">
                    <li><a class="first"
                           href="http://livedemo00.template-help.com/opencart_38753/index.php?route=common/home">Главная</a>
                    </li>
                    <!--<li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/wishlist"
                           id="wishlist-total">Wish list <span>(0)</span></a></li>-->
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/account">Аккаунт</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=checkout/cart">Корзина</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=checkout/checkout">Контакты</a>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=checkout/checkout">Форум</a>
                    </li>
                </ul>
                <form action="http://livedemo00.template-help.com/opencart_38753/index.php?route=module/currency"
                      method="post" enctype="multipart/form-data">
                    <div id="currency"><span>
  Currency</span>
                        <a title="Euro"
                           onclick="$('input[name=\'currency_code\']').attr('value', 'EUR').submit(); $(this).parent().parent().submit();"><span>€</span></a>
                        <a title="Pound Sterling"
                           onclick="$('input[name=\'currency_code\']').attr('value', 'GBP').submit(); $(this).parent().parent().submit();"><span>£</span></a>
                        <a title="US Dollar"><span>$</span></a>
                        <input type="hidden" name="currency_code" value>
                        <input type="hidden" name="redirect"
                               value="http://livedemo00.template-help.com/opencart_38753/index.php?route=common/home">
                    </div>
                </form>

                <div id="welcome">
                    Вы можете <a
                        href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/login">Войти</a>
                    или <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/register">Зарегистрироваться</a></div>

            </div>
        </div>
        <div class="header-top1">

            <div class="cart-position">
                <div class="cart-inner">
                    <div id="cart">
                        <div class="heading">

                            <h4>Корзина</h4>
                            <a><span class="sc-button"></span><span id="cart-total">0 шт. - 0,00р.</span></a></div>
                        <div class="content">
                            <div class="empty">Your shopping cart is empty!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-text"><span>1-234-5678-012</span></div>
            <div class="clear"></div>
        </div>
        <div class="search-back">
            <div id="search">
                <div class="button-search"></div>
                <span class="search-title">Поиск</span>
                <span class="search-bg"> <input type="text" name="filter_name" value onclick="this.value = '';"
                                                onkeydown="this.style.color = '#b3b3b3';"></span>
            </div>
        </div>
        <div id="logo">
            <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=common/home">
                <!--<img src="Spare%20Parts_files/logo0000.png" title="Spare Parts" alt="Spare Parts">-->
                <h1 class="main_header">
                    Искусственный <span class="stone">камень</span>
                    <br/>
                    <span class="murmansk">в Мурманске</span>
                </h1>
            </a></div>
        <div id="menu">
            <!--<script type="text/javascript">
                $(document).ready(function(){

                    $('.menu ul li').last().addClass('last');
                    $('.menu ul li li').last().addClass('last');
                });

            </script>-->
            <ul class="menu">
                <li class="cat_1">
                    <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17">Наборы</a>
                    <ul>
                        <ul>
                            <li>
                                <a class="screenshot1"
                                   href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_59">Lorem
                                    ipsum dolor (9)</a><img src="Spare%20Parts_files/Bosch000.jpg"
                                                            alt="Lorem ipsum dolor (9)"></li>
                            <li>
                                <a class="screenshot1"
                                   href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_60">Sit
                                    amet conse (10)</a><img src="Spare%20Parts_files/Acura000.jpg"
                                                            alt="Sit amet conse  (10)"></li>
                            <li>
                                <a class="screenshot1"
                                   href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_61">Ctetur
                                    adipisicing (15)</a>
                                <ul>
                                    <li>
                                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_61_65">Lorem
                                            ipsum dolor</a>
                                    </li>
                                    <li>
                                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_61_66">Incididunt
                                            ut labore</a>
                                    </li>
                                </ul>
                            <li>
                                <a class="screenshot1"
                                   href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_62">Elit
                                    sed do (10)</a><img src="Spare%20Parts_files/AC000000.jpg" alt="Elit sed do (10)">
                            </li>
                            <li>
                                <a class="screenshot1"
                                   href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_63">Eiusmod
                                    tempor (12)</a><img src="Spare%20Parts_files/A-T00000.jpg"
                                                        alt="Eiusmod tempor (12)"></li>
                            <li>
                                <a class="screenshot1"
                                   href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17_64">Incididunt
                                    ut labore (13)</a><img src="Spare%20Parts_files/Keskin00.jpg"
                                                           alt="Incididunt ut labore (13)"></li>
                        </ul>
                    </ul>
                </li>
                <li class="cat_2">
                    <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=20">Полиуретановые формы</a>
                </li>
                <li class="cat_3">
                    <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=18">каменные обои</a>
                </li>
                <li class="cat_4">
                    <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=25">Строительство</a>
                </li>
                <li class="cat_5">
                    <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=57">Сырье</a>
                </li>
                <li class="cat_6">
                    <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=24">Галерея работ</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div id="container">
<div id="notification"></div>

<div id="content">
<div class="slideshow">
    <!--<div id="slideshow0" class="nivoSlider" style="width: 980px; height: 425px;">
              <a title="banner" href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=17"><img title="banner" src="Spare%20Parts_files/slide-1-.jpg" alt="banner"></a>

                  <a title="banner" href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=20"><img title="banner" src="Spare%20Parts_files/slide-2-.jpg" alt="banner"></a>

                  <a title="banner" href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=18"><img title="banner" src="Spare%20Parts_files/slide-3-.jpg" alt="banner"></a>

                  <a title="banner" href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=25"><img title="banner" src="Spare%20Parts_files/slide-4-.jpg" alt="banner"></a>

            </div>-->
</div>
<!--<script type="text/javascript">
$(document).ready(function() {
        $('#slideshow0').nivoSlider({
        	effect: 'random',
		animSpeed: 500 ,
        pauseTime:7000,
		slices:20,
		captionOpacity:1,
		controlNavThumbs:false,
        controlNavThumbsFromRel:false,
		prevText: 'Prev',
		nextText: 'Next'
        });
});
</script>-->
<!--script type="text/javascript">
$(document).ready(function(){
$(function(){
$('.nivo-controlNav a').eq(0).addClass('slide1');
$('.nivo-controlNav a').eq(1).addClass('slide2');
$('.nivo-controlNav a').eq(2).addClass('slide3');
$('.nivo-controlNav a').eq(3).addClass('slide4');
$('.nivo-controlNav a').eq(4).addClass('slide5');
$('.nivo-controlNav a').eq(5).addClass('slide6');
});

});</script-->
<!--<div id="banner0" class="banner">
    <div>
        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/manufacturer/product&amp;manufacturer_id=7"><img
                src="Spare%20Parts_files/banner-1.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner0').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
<div id="banner1" class="banner">
    <div><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=20"><img
            src="Spare%20Parts_files/banner-2.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner1').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
<div id="banner2" class="banner">
    <div><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=18"><img
            src="Spare%20Parts_files/banner-3.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner2').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>      -->
<script type="text/javascript">
    (function ($) {
        $.fn.equalHeights = function (minHeight, maxHeight) {
            tallest = (minHeight) ? minHeight : 0;
            this.each(function () {
                if ($(this).height() > tallest) {
                    tallest = $(this).height()
                }
            });
            if ((maxHeight) && tallest > maxHeight)tallest = maxHeight;
            return this.each(function () {
                $(this).height(tallest)
            })
        }
    })(jQuery)
    $(window).load(function () {
        if ($(".maxheight-feat").length) {
            $(".maxheight-feat").equalHeights()
        }
    })
</script>
<!--<script type="text/javascript">
$(document).ready(function() {
/* AddToCart */
$('.addToCart').click(function() {
var tis = $(this);
$.ajax({
url: 'index.php?route=checkout/cart/update',
type: 'post',
data: 'product_id=' + tis.attr("data-id"),
dataType: 'json',
content: this,
success: $.proxy(function(json) {
$('.success, .warning, .attention, .information, .error').remove();
if (json['redirect']) {
location = json['redirect'];
}
if (json['error']) {
if (json['error']['warning']) {
$('#notification').html('<div class="warning" style="display: none;">' + json['error']['warning'] + '<span class="close"><img src="catalog/view/theme017/default/image/close.png" alt="" class="close" /></span></div>');
}
}
if (json['success']) {
		$('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<span class="close"><img src="catalog/view/theme/theme017/image/close.png" alt="" class="close" /></span></div>');
				
				$('.success').fadeIn('slow');
$('#cart_total').html(json['total']);
$('#cart .content').html(json['output']);
animateProduct(tis.parents().find(".image2 img") , $("#cart"));
}
}, this)
});
});

function animateProduct(image,cart){
var image_offset = image.offset();
$("body").append('<img src="' + image.attr('src') + '" id="temp" style="position: absolute; z-index:9999; top:'+image_offset.top+'px; left:'+image_offset.left+'px" />');
var cart_offset = cart.offset();
params = {
top : cart_offset.top + 'px',
left : cart_offset.left + 'px',
opacity : 0.0,
width : cart.width(),
height : cart.height()
};
$('#temp').animate(params, 'slow', false, function () {
$('#temp').remove();
});
}});
</script>  -->
<div class="wrapper"></div>
<div class="box featured">
    <!--div class="box-heading">Featured</div-->
    <div class="box-content">

        <div class="box-product">
            <ul>
                <li>
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=47"><img
                            src="img/1.jpg" alt="Lorem ipsum "></a></div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=47">
                            Кирпич Вавилонский<br/> 210х70х13мм</a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $119.50
                        </div>
                        <div class="cart">
                            <a data-id="47;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=42"><img
                            src="img/2.jpg" alt="Lorem ipsum dolor sit amet conse ctetur"></a>
                    </div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a
                                href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=42">
                            Кирпич КЛАССИК С ДЕКОР-ВСТАВКАМИ<br/>240х52х14 мм.</a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $119.50
                        </div>
                        <div class="cart">
                            <a data-id="42;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=50"><img
                            src="img/3.jpg" alt="Ipsum dolor sit amet conse"></a></div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a
                                href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=50">
                            Сланец кора с валуном <br/>485х225х33мм
                                </a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $119.50
                        </div>
                        <div class="cart">
                            <a data-id="50;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
                <li class="last-in-line">
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=43"><img
                            src="img/4.jpg" alt="Acals sit conse ctetur adipisi set"></a></div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a
                                href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=43">
                            Сланец СКАЛА <br/>525х435 мм
                                </a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $589.50
                        </div>
                        <div class="cart">
                            <a data-id="43;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
                <li class="first-in-line">
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=44"><img
                            src="img/5.jpg" alt="Acicte magna ipsum dolor"></a></div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a
                                href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=44">
                            Сланец универсальный <br/>455/265х92х28мм
                                </a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $1,177.00
                        </div>
                        <div class="cart">
                            <a data-id="44;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=30"><img
                            src="img/6.jpg" alt="ISpsum dolor sit amet"></a></div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a
                                href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=30">
                            Кирпич старый <br/>290х65х15 мм.
                        </a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $119.50
                        </div>
                        <div class="cart">
                            <a data-id="30;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=31"><img
                            src="img/7.jpg" alt="Dolor sit amet"></a></div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a
                                href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=31">
                            Сланец классический новый <br/>485/238х112х32 мм.</a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $96.00
                        </div>
                        <div class="cart">
                            <a data-id="31;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
                <li class="last-in-line">
                    <div class="image2"><a
                            href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=29"><img
                            src="img/8.jpg" alt="Dolor sit amet conse"></a></div>
                    <div class="padd-both">

                        <div class="name maxheight-feat"><a
                                href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/product&amp;product_id=29">
                            Кирпич хай-тек <br/>250х65х14 мм.
                                </a></div>

                    </div>
                    <div class="wrapper">
                        <div class="price">
                            $330.99
                        </div>
                        <div class="cart">
                            <a data-id="29;" class="button addToCart"><span>В корзину</span></a>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--
<div id="banner3" class="banner">
    <div><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/category&amp;path=25"><img
            src="Spare%20Parts_files/banner-4.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner3').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
<div id="banner4" class="banner">
    <div>
        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/manufacturer/product&amp;manufacturer_id=8"><img
                src="Spare%20Parts_files/banner-5.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner4').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
<div id="banner5" class="banner">
    <div>
        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/manufacturer/product&amp;manufacturer_id=9"><img
                src="Spare%20Parts_files/banner-6.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner5').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
<div id="banner6" class="banner">
    <div>
        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/manufacturer/product&amp;manufacturer_id=5"><img
                src="Spare%20Parts_files/banner-7.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner6').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
<div id="banner7" class="banner">
    <div>
        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/manufacturer/product&amp;manufacturer_id=5"><img
                src="Spare%20Parts_files/banner-8.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner7').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
<div id="banner8" class="banner">
    <div>
        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/manufacturer/product&amp;manufacturer_id=10"><img
                src="Spare%20Parts_files/banner-9.jpg" alt="banner" title="banner"></a></div>
</div>
<script type="text/javascript">
var banner = function () {
    $('#banner8').cycle({
        speed:2000,
        timeout:10000,
        before:function (current, next) {
            $(next).parent().height($(next).outerHeight());
        }
    });
}

setTimeout(banner);
</script>
-->
<h1 style="display: none;">Spare Parts</h1>
</div>
</div>
<div class="clear"></div>
<div class="footer-wrap">
    <div id="footer">
        <div class="wrapper">
            <div class="column col-1">
                <h3>Информация</h3>
                <ul>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=information/information&amp;information_id=4">О нас</a>
                    </li>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=information/information&amp;information_id=6">Доставка</a>
                    </li>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=information/information&amp;information_id=3">Конфиденциальность</a></li>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=information/information&amp;information_id=5">Гарантия</a></li>
                </ul>
            </div>
            <div class="column col-2">
                <h3>Сервисы</h3>
                <ul>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=information/contact">Обратная связь</a></li>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/return/insert">Возврат</a>
                    </li>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=information/sitemap">Карта сайта</a></li>
                </ul>
            </div>
            <div class="column col-3">
                <h3>Дополнительно</h3>
                <ul>
                    <li>
                        <a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/manufacturer">Бренды</a>
                    </li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/voucher">Подарочные сертификаты</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=affiliate/account">Партнеры</a>
                    </li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=product/special">Специалисты</a>
                    </li>
                </ul>
            </div>
            <div class="column col-4">
                <h3>Мой аккаунт</h3>
                <ul>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/account">Мой аккаунт</a></li>
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/order">История заказов</a></li>
                    <!--<li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/wishlist">Wish List</a></li>-->
                    <li><a href="http://livedemo00.template-help.com/opencart_38753/index.php?route=account/newsletter">Рассылка</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="wrapper">
            <ul class="list-services">
                <li class="first"><a class="tooltips" title="twitter" href="http://twitter.com/"></a></li>
                <li class="second"><a class="tooltips" title="facebook" href="http://facebook.com/"></a></li>
                <li class="third"><a class="tooltips" title="google pluse" href="http://plus.google.com/"></a></li>
                <li class="four"><a class="tooltips" title="delicious" href="http://delicious.com/"></a></li>
                <li class="five"><a class="tooltips" title="youtube" href="http://youtube.com/"></a></li>
                <li class="six"><a class="tooltips" title="rss" href="http://youtube.com/"></a></li>
            </ul>
            <div id="powered">Powered By <a href="http://www.opencart.com/">OpenCart</a> Spare Parts © 2012</div>
        </div>
    </div>

</div>
<!-- 
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

<!-- 
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<!--<script type="text/javascript" src="Spare%20Parts_files/livesear.js"></script>-->
</div>
</div>

<!--LIVEDEMO_00 -->

<!--<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>-->

</body>
</html>
<!-- This document saved from http://livedemo00.template-help.com/opencart_38753/ -->
