<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="/template/vodokanal/index.css" rel="stylesheet" type="text/css"/>
	<title>Водоканал</title>
</head>
<body>
	<table class="wrapper">
		<tbody>
			<tr class="header">
				<td colspan="2">
					<div class="contact">
						<p>+<span>7 111 111 111</span></p>
						<p>ул. <span>Неизвестного Солдата</span></p>
					</div>
					<a href="/">
						<h1>Водоканал</h1>
					</a>
				</td>
			</tr>
			<tr class="top_menu">
				<td colspan="2">
					<div class="menu">
						<table>
							<tbody>
								<tr>
									<td class="i0"><a href="/"><span></span></a></td>
									<td class="i1"><a href="#"><span>О компании</span></a></td>
									<td class="i2"><a href="#"><span>Клиенты</span></a></td>
									<td class="i3"><a href="#"><span>Должники</span></a></td>
									<td class="i4"><a href="#"><span>Фотогалерея</span></a></td>
									<td class="i5"><a href="#"><span>Карта работ</span></a></td>
									<td class="i6"><a href="#"><span>Вопросы</span></a></td>
									<td class="i7"><a href="#"><span>Контакты</span></a></td>
									<td class="i8"><a href="#"><span></span></a>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td class="left">
					<div>
						<h3>Новости</h3>
						<ul>
							<li>
								<a href="#">06 февраля 2012</a>
								<p>Гендиректор ОАО «Евразийский» Е.А. Козьмин: организованная отраслевыми объединениями эффективная работа над законом «О водоснабжении» позволит учесть интересы всех участников рынка</p>
								<!--Представители ОАО «Евразийский» приняли участие в экспертных совещаниях по закону «О водоснабжении и водоотведении». -->
							</li><li>
								<a href="#">03 февраля 2012</a>
								<p>Ростовский Водоканал объявляет амнистию самовольным пользователям</p>
								<!--С 7 февраля 2012 года ОАО «ПО Водоканал» Ростова-на-Дону проводит амнистию для тех физических лиц (собственников индивидуальных жилых домов) — потребителей услуг водоснабжения и водоотведения, которые пользуются ими незаконно, без договора с Водоканалом, имеют самовольное присоединение к городским водопроводным или канализационным сетям. -->
							</li><li>
								<a href="#">01 февраля 2012</a>
								<p>Министр ЖКХ Ростовской области С.Б. Сидаш: «Спасибо Ростовскому Водоканалу за отличную работу в особо сложных погодных условиях»</p> 
								<!--Министр жилищно-коммунального хозяйства Ростовской области С.Б. Сидаш, посетив ОАО «ПО Водоканал» г. Ростова-на-Дону 31 января, выразил благодарность коллективу предприятия за отличную организацию работы по обеспечению услугами водоснабжения потребителей в трудных зимних условиях. Работникам Водоканала, отличившимся при ликвидации аварийной ситуации, министр вручил Благодарственные письма Министерства жилищно-коммунального хозяйства Ростовской области. -->
							</li><li>
								<a href="#">30 января 2012</a>
								<p>Ростовский Водоканал устранил аварийные ситуации на Октябрьском водоводе, не нарушив работы котельных</p>
								<!--Ростовский Водоканал 28-29 января оперативно устранил две аварийные ситуации на Октябрьском водоводе диаметром 1000 мм по адресам: пл. Страны Советов и ул. Плужная, 8. -->
							</li><li>
								<a href="#">27 января 2012</a>
								<p>Музей Ростовского Водоканала: счастливая дюжина</p>
								<!--Исполнилось двенадцать лет со дня открытия музея водопровода в Ростовском Водоканале. -->
							</li> 
						</ul>
						<a href="#">Читать все</a>
					</div>
				</td>
				<td class="center">
					<div>
						<h3>О компании</h3>
						<div class="article">
							<img src="/template/vodokanal/img/pic3.jpg"/>
							<p><span class="anons"><font face="Tahoma" size="2">Централизованное водоснабжение в Петербурге появилось благодаря созданию акционерного Общества Санкт-Петербургских водопроводов, устав которого Александр II утвердил 10 октября 1858 года</font>.</span><font face="Tahoma" size="2"><span tahoma="" sans-serif=""><br>
							</span></font></p>
							<p><font face="Tahoma" size="2"><span tahoma="" sans-serif="">&nbsp; Среди учредителей Общества были как инженеры &ndash; <em>А.Н. Ермаков, П.И. Палибин, А.А. Перетц, Е.И. Окель,</em> так и крупные коммерсанты &ndash; <em>И.И. Глазунов, М.И. Якунчиков, И.Н. Кушинников.</em></span></font></p>
							<p><strong><font face="Tahoma" size="2"><span tahoma="" sans-serif="">&nbsp;1858&ndash;1917 годы</span></font></strong></p>
							<p><font face="Tahoma" size="2"><span tahoma="" sans-serif="">&nbsp; На первых порах акционерное Общество столкнулось с большими финансовыми и технологическими трудностями. В начале 1863 года строительство водопровода практически остановилось. На тот момент была построена водонапорная башня на Шпалерной улице (архитекторы И.А. Мерц и Э. Шуберский) и проложено несколько верст водопроводной сети. Средства уставного капитала Общества были истрачены, акции продавались плохо, и даже правительственная субсидия не смогла изменить ситуацию. В марте 1863 года в Общество вступил петербургский купец I гильдии А.И. Крон, который внес недостающую сумму (около 900 тысяч рублей) и взялся завершить затянувшиеся работы.</span></font></p>
							<p><strong><font face="Tahoma" size="2">&nbsp;Снабжение водой первых потребителей началось в конце 1863 года.</font></strong></p>
							<p>&nbsp; <font face="Tahoma" size="2"><span tahoma="" sans-serif="">В ходе строительства первоначальный проект претерпел некоторые изменения. Сперва планировалось брать воду из так называемого «ковша» &ndash; соединенного с Невой искусственного водоема возле Таврического дворца. Однако «ковш» для этих целей оказался непригодным, и Обществу пришлось устроить водозабор из Невы.</span></font></p>
							<p><font face="Tahoma" size="2"><span tahoma="" sans-serif="">&nbsp; До середины 1870-х годов водопроводом пользовались жители лишь левобережной части города. Для снабжения водой Петербургской (Петроградской) и Выборгской сторон, а также Васильевского острова в 1873 году было создано новое акционерное общество (Товарищество), которое было передано в управление английским подрядчикам.</span></font></p>
							<p><font face="Tahoma" size="2"><span tahoma="" sans-serif=""><em>&nbsp; </em>В <strong>1890 </strong>году Городская дума приняла решение о выкупе имущества Общества Санкт-Петербургских водопроводов, а в 1892 году &ndash; и Товарищества новых водопроводов, в городскую собственность. Для управления водопроводами была создана Городская исполнительная комиссия по водоснабжению Санкт-Петербурга, подчиненная городской управе. По представлению председателем исполнительной комиссии назначался управляющий городскими водопроводами.</span></font></p>
							<p><font face="Tahoma" size="2"><span tahoma="" sans-serif="">&nbsp; В первые десятилетия работы системы централизованного водоснабжения в Санкт-Петербурге все абоненты получали воду, подвергнутую лишь грубой механической очистке. В 1889 году на Главной водопроводной станции начали работу песчаные фильтры, построенные Общественном Санкт-Петербургских водопроводов по настоятельному требованию городских властей.</span></font></p>
							<p><font face="Tahoma" size="2"><span tahoma="" sans-serif="">&nbsp; В 1911 году на Петербургской (Петроградской) стороне была построена станция фильтрации с озонированием воды. На Главной водопроводной станции было внедрено обеззараживание питьевой воды хлором (первые опыты хлорирования были проведены в Кронштадте в 1909 году). С 1911 г. начала работу созданная городской думой Исполнительная комиссия по сооружению канализации и переустройству водоснабжения г. Санкт-Петербурга, к которой в значительной мере перешли функции развития водопроводного хозяйства.</span></font></p>
							<p><strong><font face="Tahoma" size="2"><span tahoma="" sans-serif="">Советский период</span></font></strong></p>
							<p><font face="Tahoma" size="2"><span tahoma="" sans-serif="">&nbsp; Первая мировая и Гражданская войны негативно отразились на техническом состоянии системы водоснабжения города, на ее сооружениях, оборудовании и сетях. В двадцатых &ndash; начале тридцатых годов прошлого века для строительства водоводов даже приходилось использовать деревянные трубы &ndash; из-за нехватки более подходящих материалов. Дореволюционный уровень подачи воды в городскую водопроводную сеть был достигнут лишь к 1935 году.</span></font></p>
						</div>
					</div>
				</td>
			</tr>
			<tr class="footer">
				<td colspan="2">
					<div>&#169; 2012 <a target="_blank" href="http://grosstech.ru">Гросcтех</a>.</div>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>