<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="/template/vodokanal/index.css" rel="stylesheet" type="text/css"/>
	<title>Водоканал</title>
</head>
<body>
	<div class="crane">
		<a href="/">
			<h1>Водоканал</h1>
		</a>
		<div class="menu">
			<ul>
				<li class="i1"><a href="#">О компании</a></li>
				<li class="i2"><a href="#">Клиенты</a></li>
				<li class="i3"><a href="#">Должники</a></li>
				<li class="i4"><a href="#">Фотогалерея</a></li>
				<li class="i5"><a href="#">Карта работ</a></li>
				<li class="i6"><a href="#">Вопросы</a></li>
				<li class="i7"><a href="#">Контакты</a></li>
			</ul>
		</div>
		<a class="search" href="#"><img src="/template/vodokanal/img/icon_search.png"/></a>
	</div>
	<table class="wrapper">
		<tbody>
			<tr class="header">
				<td colspan="2">
					<div></div>
				</td>
			</tr>
			<tr>
				<td class="left">
					<div></div>
				</td>
				<td class="center">
				</td>
			</tr>
			<tr class="footer">
				<td colspan="2">
					<div>&#169; 2012 <a target="_blank" href="http://grosstech.ru">Гросcтех</a>.</div>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>