html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	padding: 0 30px;
}

a, a:visited{
	color: #1285cc;
}

.wrapper{
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	min-width: 1000px;
}
.wrapper>tbody>tr>td{
	padding: 0px;
	vertical-align: top;
}

.header{
	height: 73px;
}

.header h1{
	padding: 17px 0 0 140px;
	margin: 0;
	font-family: arial;
	font-style: italic;
	font-size: 2.2em;
	height: 56px;
	width: 200px;
	text-shadow: #7da0b5 3px 2px 2px;
	background: url("/template/vodokanal/img/crane.png") no-repeat 25px 5px;
}

.header a, .header h1{
	color: #13a6ff;
	text-decoration: none;
}

.header .contact{
	float: right;
	color: #1285CC;
	text-align: right;
	padding: 15px 10px 0 0;
}
.header .contact p{
	margin: 0;
}
.header .contact p span{
	font-weight: bold;
}

.top_menu{
	height: 62px;
}

.footer>td>div{
	padding: 12px 30px 13px;
	border-radius: 10px 50px;
	background-image: url("/template/vodokanal/img/gradient_bottom.png");
	background-image: -moz-linear-gradient(top, #F1F1F1, #AAAAAA);
	background-image: -webkit-linear-gradient(top, #F1F1F1, #AAAAAA);
	background-image: -o-linear-gradient(top, #F1F1F1, #AAAAAA);
	background-image: -ms-linear-gradient(top, #F1F1F1, #AAAAAA);
	background-image: linear-gradient(top, #F1F1F1, #AAAAAA);
}

.menu{
	border-radius: 50px 10px;
	background-image: url("/template/vodokanal/img/gradient_top.png");
	background-image: -moz-linear-gradient(top, #F5F5F5, #AAAAAA);
	background-image: -webkit-linear-gradient(top, #F5F5F5, #AAAAAA);
	background-image: -o-linear-gradient(top, #F5F5F5, #AAAAAA);
	background-image: -ms-linear-gradient(top, #F5F5F5, #AAAAAA);
	background-image: linear-gradient(top, #F5F5F5, #AAAAAA);
}

.footer>td>div, .menu{
	background-color: #AAAAAA;
	box-shadow: 2px 5px 5px #555555;
}

.menu table{
	width: 100%;
	height: 32px;
	border-collapse: collapse;
	background: url("/template/vodokanal/img/crane.png") no-repeat 25px -66px;
}
.top_menu div.menu table td{
	vertical-align: middle;
}
.menu td{
	list-style: none;
	padding: 10px 0 10px 10px;
}

.menu td a, .menu td a:visited{
	text-decoration: none;
	font-size: 1.1em;
}

.menu tr td a:hover span{
	text-decoration: underline;
}

.menu td span{
	display: inline-block;
	height: 27px;
	padding: 5px 0 0 37px;
}

.menu td.i0{
	padding: 0 0 0 20px;
	width: 32px;
}

.menu td.i0 a{
	display: block;
	width: 32px;
	height: 32px;
}

.menu td.i0 span{
	padding: 0px;
	width: 32px;
	height: 32px;
}
.menu td.i1 span{background: url("/template/vodokanal/img/icon_document.png") no-repeat top left;}
.menu td.i2 span{background: url("/template/vodokanal/img/icon_crane.png") no-repeat top left;}
.menu td.i3 span{background: url("/template/vodokanal/img/icon_nosign.png") no-repeat top left;}
.menu td.i4 span{background: url("/template/vodokanal/img/icon_camera.png") no-repeat top left;}
.menu td.i5 span{background: url("/template/vodokanal/img/icon_showel.png") no-repeat top left;}
.menu td.i6 span{background: url("/template/vodokanal/img/icon_question.png") no-repeat top left;}
.menu td.i7 span{background: url("/template/vodokanal/img/icon_phone.png") no-repeat top left;}
.menu td.i8 span{
	background: url("/template/vodokanal/img/icon_search.png") no-repeat top left;
	padding-right: 10px;
}

.wrapper>tbody>tr.top_menu>td{
	padding-bottom: 10px;
}

.crane .search img{
	padding-left: 20px;
}

.wrapper>tbody>tr.footer>td{
	padding: 5px 0 7px;
}

.left{
	width: 300px;
	padding-left: 12px;
}

.left>div{
	border-left: 2px solid #999999;
	border-radius: 30px;
	padding: 20px 30px;
}
.center{
	padding-right: 12px;
	height: 100%;
}
.center>div{
	border: 2px solid #999999;
	border-width: 0px 2px;
	border-radius: 30px;
	padding: 20px;
}

.center>div, .left>div{
	min-height: 200px;
}

.center .article>p:FIRST-CHILD{
	margin-top: 0;
}

.center .article>img{
	float: left;
	margin: 0 15px 15px 0;
	height: 180px;
	border-radius: 15px;
}
.center .article p{
	text-align: justify;
}

.left>div>h3, .center>div>h3{
	margin: 0;
	text-align: center;
	padding-bottom: 10px;
	color: #555555;
}
.left>div>a{
	display: block;
	text-align: right;
}
.left div ul{
	margin: 0;
	padding: 0;
	font-size: 90%;
}
.left div li{
	text-align: justify;
	margin-bottom: 7px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #AAAAAA;
	list-style: none;
}
.left div li:last-child{
	border-bottom: none;
}
.left div li a{
	padding-left: 0.5em;
}

.left div li p{
	text-indent: 2em;
	padding: 0;
	margin: 0;
}