.nested_items.menu .no_controls form.controls>*{
	display: none;
}
.nested_items.menu .no_controls form.controls>*.always{
	display: inline;
}
/*.nested_items.menu .empty{
	display: none;
}
.nested_items.menu._admin .empty{
	display: block;
}*/
.nested_items.dropdown ul ul {
	background: none;
	border-left: none;
	padding-bottom: 0px;
	/*margin-bottom: 0px;*/
}

.nested_items.dropdown .no_controls{
	list-style: disc;
}

.menu.link_form>div{
	 min-height: 200px;
}
.menu .input_text{
	display: none;
}
.menu .method, .menu .params{
	display: none;
}

.menu._admin a:hover{
	text-decoration: underline;
}