.menu.horizontal{
	min-height: 1em;
}
.menu.horizontal ul{
	padding:0;
	margin: 0;
	list-style: none;
}
.menu.horizontal>ul>li{
	float: left;
	padding: 0 10px;
}
.menu.horizontal>ul>li:FIRST-CHILD{
	padding-left: 0px;
}
.menu.horizontal>ul>li:LAST-CHILD{
	padding-right: 0px;
}
.menu.horizontal ul ul{
	display: none;
	position: absolute;
}
.menu.horizontal ul li:hover>ul{
	display: block;
}
