.menu.horysontal{
	height: 1em;
}
.menu.horysontal ul{
	padding:0;
	margin: 0;
	list-style: none;
}
.menu.horysontal>ul>li{
	float: left;
	padding: 0 10px;
}
.menu.horysontal>ul>li:FIRST-CHILD{
	padding-left: 0px;
}
.menu.horysontal>ul>li:LAST-CHILD{
	padding-right: 0px;
}
.menu.horysontal ul ul{
	display: none;
	position: absolute;
}
.menu.horysontal ul li:hover>ul{
	display: block;
}