.nbk_admin_file{
	margin: 0 auto;
}
table.nbk_admin, table.nbk_admin td, table.nbk_admin th{
	border-color: #999999;
	border-style: solid;
}
table.nbk_admin{
	border-width: 1px 0 0 1px;
	border-collapse: collapse;
	min-width: 1000px;
}
table.nbk_admin td, table.nbk_admin th{
	border-width: 0 1px 1px 0;
	padding: 0px 8px;
}
table.nbk_admin td a, table.nbk_admin th a{
	color: black;
	text-decoration: none;
	width:100%;
	display: block;
}

table.nbk_admin td a.href, table.nbk_admin td a.remove{
	color: blue;
	text-decoration: none;
}
table.nbk_admin tr:hover td, th:hover{
	background-color: #F3F3F3;
}

.pagenavigation{
	margin: 0 0 0 10px;
	height: 20px;
	border: 1px solid black;
	border-radius: 11px;
	padding: 3px 5px;
}
.pagenavigation span{
	padding: 0 2px;
}
.pagenavigation span, .pagenavigation span a{
	display: block;
	min-width: 19px;
	float: left;
	text-align: center;
}
div.pagenavigation .point{
	background: blue;
}
.pagenavigation span a{
	text-decoration: none;
}
.pagenavigation span.curr{
	font-weight: bold;
}
.pagenavigation a, .pagenavigation a:visited{
	color: blue;
	text-decoration: none;
}
.page_nav form span{
	padding-left: 10px;
}
.page_nav form span:FIRST-CHILD{
	padding-left: 6px;
}
.page_nav form div{
	padding: 6px 0px 5px 15px;
	/*border: 1px solid #777;
	border-radius: 10px;*/
	display: inline;
	border-left: 1px solid #999999;
}
.page_nav form div span:FIRST-CHILD{
	padding-left: 0;
}
.page_nav form div span:FIRST-CHILD input{
	margin-left: 5px;
}
.page_nav{
	padding-bottom: 3px;
}

.page_nav form>span, .page_nav form>span input, .page_nav td>span{
	margin-left: 0.3em;
}
.page_nav tr:FIRST-CHILD span{
	margin-left: 0;
}
table.nbk_input{
	border-collapse: collapse;
}
table.nbk_input tr td{
	padding: 8px;
	border-bottom: 1px dotted #777;
}
.editor.edit table.nbk_input input{
	min-width: 250px;
}
.editor.filter table.nbk_input tr:last-child input,
.editor.column table.nbk_input tr:last-child input{
	min-width: 150px;
}
.editor.column table.nbk_input tr:last-child input{
	min-width: 100px;
}
.editor.column table.nbk_input tr:hover{
	background-color: #EEEEEE;
}
.editor.column table.nbk_input tr:last-child:hover,
.editor.column table.nbk_input tr:first-child:hover{
	background-color: inherit;
}
.editor.column label{
	display: block;
	width: 100%;
}

.editor.column tr td{
	padding: 0;
}
.editor.column label,
.editor.column input{
	padding: 8px;
}
.editor tr:last-child input{
	padding: 5px;
}
.editor.column tr:last-child input{
	margin: 8px 0;
}

.editor.edit{
	margin: 0 auto;
}

table.nbk_input tr:last-child td{
	border: 0;
}
table.nbk_input tr:last-child td{
	text-align: center;
}

p.empty{
	font-weight: bold;
}

.ui-datepicker{
	font-size: 0.9em!important;
}

.filter_table tr:last-child input{
	width: 150px;
}

.nbk_kolumn_picker{
	border-collapse: collapse;
}
.nbk_kolumn_picker tr:last-child td{
	text-align: center;
}
.page_nav td:FIRST-CHILD img{
	margin-right: 8px;
	cursor: pointer;
}
.page_nav td:FIRST-CHILD a:last-child img{
	margin-right: 0;
}

a.page_nav_control, a:visited.page_nav_control{
	min-width: 1em;
	font-size: 120%;
	text-decoration: none;
	color: #555;
	text-align: center;
}
a.page_nav_control:hover{
	color: blue;
}
.page_select a:last-child{
	margin-right: 5px;
}

.page_nav .filter>div, .page_nav .column>div{
	position: absolute;
	display: none;
}
.editor h4{
	margin: 0 auto 10px;
	text-align: center;
	text-decoration: underline;
} 
.editor form{
	position: relative;
	top: -40px;
	z-index: 12;
}
.editor form{
	min-width: 50px;
	min-height: 20px;
	border: 2px solid #777777;
	background: white;
	padding: 10px;
	border-radius: 0px 15px 15px 15px;
}
.editor.edit{
	width: 550px;
	margin: 0 auto;
}
.editor.edit form{
	position: static;
}
.page_nav .editor.column form, .editor.edit form{
	border-radius: 15px;
}
.editor.edit .nbk_input{
	margin: 0 auto;
}
.page_nav img.div_logo{
	position: relative;
	top: -38px;
	border: 2px solid #777777;
	border-bottom: 0px;	
	border-radius: 10px 10px 0 0;
	padding: 5px;
	display: block;
	z-index: 13;
	background: white;
}
.page_nav img.column_logo{
	left: 73px;
}
.curtain{
	z-index: 10;
	opacity: 0.5;
	background: #777;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1000px;
	display: none;
}