.nbk_admin_file{
	margin: 0 auto;
}

table.nbk_admin{
	border-color: black;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-collapse: collapse;
}
table.nbk_admin td, table.nbk_admin th{
	border-width: 0 1px 1px 0;
	border-style: solid;
	padding: 0px 8px;
}
table.nbk_admin td a, table.nbk_admin th a{
	color: black;
	text-decoration: none;
}

table.nbk_admin td a.href, table.nbk_admin td a.remove{
	color: blue;
	text-decoration: none;
}

.pagenavigation{
	margin-right: 20px;
}
.pagenavigation span{
	padding: 0 2px;
}
.pagenavigation span a{
	text-decoration: none;
}
.pagenavigation span.curr{
	font-weight: bold;
}
.pagenavigation a, .pagenavigation a:visited{
	color: blue;
	text-decoration: none;
}

div.page_nav div, div.page_nav form{
	display: inline;
}
div.page_nav form{
	padding-left: 1em;
}

span.page_select select{
	margin-left: 1em;
}

span.page_size, span.page_size input, 
span.search_field, span.search_field input,
span.page_select, span.page_select select,
span.default_sort{
	margin-left: 1em;
}
table.nbk_filter{
	border-collapse: collapse;
}
table.nbk_filter td{
	border: 1px solid black;
	border-width: 0 1px 1px 0;
	padding: 5px 4px;
}
table.nbk_filter td:FIRST-CHILD{
	border-left-width: 1px;
}
table.nbk_filter tr:first-child td{
	border-top-width: 1px;
}
table.nbk_filter tr:last-child td{
	border-width: 0;
	text-align: center;
}

p.empty{
	font-weight: bold;
}

.ui-datepicker{
	font-size: 0.9em!important;
}

.filter_table tr:last-child input{
	width: 150px;
}