<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Мурманская городская Компания</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="wrap">
		<a href="index.php" alt="На главную" title="На главную">
			<div class="header">
				<h1>Мурманская городская Компания</h1>
			</div>
		</a>
		<div class="center_wrap">
			<div class="left">
				<div class="menu">
					<ul class="lvl1">
						<li class="active">
							<a href="/" title="">О компании</a>
						</li>
						<li>
							<a href="Obshhaja-informacija">Общая информация</a>
						</li>
						<li class="active">
							<a href="Protokoly" title="">Протоколы</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="window">
					<div>
						<div>
							<div>
								<h3>Контактная информация</h3>
								<p>
									г.<span>Мурманск</span><br/>
									проспект Ленина 101<br/>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="window">
					<div>
						<div>
							<div class="timetable">
								<h3>Режим работы</h3>
								<table>
									<tr>
										<td>
											Понедельник - Пятница
										</td>
										<td>
											с<span>8:00</span>
										</td>
										<td>
											до<span>17:45</span>
										</td>
									</tr>
									<tr>
										<td>
											Обед
										</td>
										<td>
											с<span>12:30</span>
										</td>
										<td>
											до<span>14:00</span>
										</td>
									</tr>
									<tr>
										<td>
											Суббота - Воскресенье
										</td>
										<td colspan="2">
											<span>выходной</span>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="center">
				__content__
				<p style="clear:both"></p>
			</div>
		</div>
		<div class="footer">
			&#169; 2011 <a href="#">Гросcтех</a>. УК состоит в Некоммерческом Партнёрстве СРО «Жилищно-строительное объединение Мурмана»
		</div>
	</div>
</body>
</html>
