body, html {
	padding: 0;
	margin: 0;
	font-family: Sans-serif, Arrial, Verdana;
	height: 100%;
	min-width: 1020px;
	color: #555555;
	/*width: 1280px;
	height: 800px;
	margin: auto;
	background: black;
	overflow: auto;*/
	background: url("/template/grosstech/images/background.png") no-repeat top;
}

/*wrap*/
.wrap{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	/*background: white;*/
}
.wrap td{
	vertical-align: top;
	padding: 0px;
}

/*head*/
.head td{
	padding: 30px 25px 8px;
	height: 45px;
	background: url("/template/grosstech/images/contact_shadow.png") no-repeat right 12px;
}
.head .contact{
	float: right;
	line-height: 140%;
	font-family: Sans-serif;
	color: #1A629D;
	font-style: italic;
}

.head .contact p{
	margin: 0px;
}
/*menu*/
.menu_cont td{
	height: 60px;
}
.menu_cont .menu{
	background: url("/template/grosstech/images/round/round_center.png") repeat-x top;
	height: 60px;
	font-family: Serif;
}
.menu_cont .menu.wrap_left{
	background: url("/template/grosstech/images/round/round_left.png") no-repeat top left;
	padding-left: 33px;
}
.menu_cont .menu.wrap_right{
	background: url("/template/grosstech/images/round/round_right.png") no-repeat top right;
	padding-right: 33px;
}
.menu_cont .menu ul{
	list-style: none;
	padding: 0;
	margin: 0px;
}
.menu_cont .menu ul li{
	float: left;
	height: 60px;
}
.menu_cont .menu ul li:hover, .menu_cont .menu>ul>li.active{
	background: url("/template/grosstech/images/round/round_on_left.png") no-repeat 0px -11px;
}
.menu_cont .menu ul ul{
	display: none;
	position: absolute;
	padding: 0;
	margin: 0;
}
.menu_cont .menu ul ul li{
	float: none;
}
.menu_cont .menu ul li:HOVER ul{
	display: block;
}
.menu_cont .menu a, .menu_cont .menu a:visited{
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 16px 29px 0 0;
	font-size: 1.2em;
	
	display: block;
	height: 40px;
	position: relative;
	right: -29px;
}
.menu_cont .menu ul li:hover a, .menu_cont .menu ul li.active a{
	background: url("/template/grosstech/images/round/round_on_right.png") no-repeat right -11px;
}
.menu_cont .menu ul ul li{
	background: url("/template/grosstech/images/button2_center_left.png") repeat-y left;
	padding: 0px;
	height: auto;
	margin: 0;
}
.menu_cont .menu ul ul li:hover{
	background: url("/template/grosstech/images/button2_center_left.png") repeat-y left;
}
.menu_cont .menu ul ul a{
	height: auto;
	min-width: 170px;
	color: #2669A8!important;
	font-weight: normal;
	background: url("/template/grosstech/images/button2_center_right.png") repeat-y right;
	padding: 5px 20px 0;
	right: 0px;
	font-size: 1.1em;
}
.menu_cont .menu ul li:hover ul a{
	background: url("/template/grosstech/images/button2_center_right.png") repeat-y right;
}
.menu_cont .menu ul ul a:hover, .menu_cont .menu ul ul li.active>a{
	text-decoration: underline;
}
.menu_cont .menu ul ul li:FIRST-CHILD a{
	padding-top: 4px;
}
.menu_cont .menu ul ul li:LAST-CHILD{
	background: url("/template/grosstech/images/button2_bottom_left.png") no-repeat bottom left;
}
.menu_cont .menu ul ul li:LAST-CHILD a{
	background: url("/template/grosstech/images/button2_bottom_right.png") no-repeat bottom right;
	padding-bottom: 22px;
}
div.img_preload{
	display: none;
}

/*footer*/
.footer{
	height: 14px;
}
/*.footer td{
	padding-bottom: 10px;
}*/
.footer div{
	background: url("/template/grosstech/images/button2_left.png") no-repeat top left;
	padding: 0 0 0 32px;
}
.footer div div{
	background: url("/template/grosstech/images/button2_right.png") no-repeat top right;
	padding: 0 32px 0 0;
}
.footer div div div{
	background: url("/template/grosstech/images/button2_center.png") repeat-x top;
	height: 64px;
	padding: 0;
}
.footer p{
	padding-top: 24px;
	font-size: 0.7em;
}
.footer .kasperski{
	display: block;
	float: right;
	background: url("/template/grosstech/images/kaspersky/32_bw.png") no-repeat;
	width: 32px;
	height: 32px;
	margin-top: 14px;
}
.footer .kasperski:hover{
	background-image: url("/template/grosstech/images/kaspersky/32.png");
}

/*content*/
.content .container{
	margin-left: 200px;
}

.content a, .content a:visited, .footer a, .footer a:visited, .breadcrumbs a, .breadcrumbs a:VISITED{
	color: #1A629D;
}
.content a:hover, .footer a:hover, .breadcrumbs a:hover{
	color: #00A0E3;
}
.content .container{
	padding: 15px 20px 0px;
}
.content h1{
	text-align: center;
	margin-top: 0px;
	color: #1A629D;
}

/*left*/
.content .left_container{
	float: left;
	width: 185px;
	padding: 15px 0 0 15px;
}
.left_container .menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.left_container .menu ul li{
	background: url("/template/grosstech/images/icon/small_button_off.png") no-repeat top left;
	padding: 2px 0 10px 30px;
}
.left_container .menu li:hover{
	background: url("/template/grosstech/images/icon/small_button_on.png") no-repeat top left;
}

/*breadcrumbs*/

.breadcrumbs{
	padding-left: 30px;
}

.metrika{
	display: none;
	float: right;
	padding: 15px 0 0 5px;
}

div.menu.horizontal > ul > li {
	padding: 0;
}