.module_link_list, .module_link_list td, .module_link_list th{
	border: 1px solid #777;
}
.module_link_list{
	border-width:  1px 0 0 1px;
	border-collapse: collapse;
	width: 100%;
}
.module_link_list td, .module_link_list th{
	vertical-align: top;
	border-width:  0 1px 1px 0;
	padding: 5px;
}
.module_link_list .remove a{
	color: #993333;
	text-decoration: none;
}
.module_link_list .remove a:hover{
	color: red;
	text-decoration: underline;
}
.module_link_list .remove{
	text-align: center;
}
.module_link_list span{
	font-style: italic;
	font-weight: bold;
}
#content .meta{
	display: none;
}

.link_form div > table.link_controls > tbody > tr {
    display: table-row;
}

.link_form .link_controls select{
	min-width: 0px;
}
.link_form b{
	padding-left: 25px;
}
.link_form td:FIRST-CHILD b{
	padding-left: 0px;
}