.nested_items .controls{
	position: absolute;
	display: none;
	padding: 3px 0 0 10px;
}

.nested_items .item .controls{
	padding: 0 0 0 110px;
}

.nested_items .item_cont:hover>.controls,
.nested_items .controls:hover{
	display: inline;
}
.nested_items .item:hover>.controls{
	display: block;
}

.nested_items .controls select.insert_place{
	width: 100px;
}

.nested_items .controls a{
	margin-right: 10px;
}

.nested_items .controls a:hover{
	text-decoration: underline;
}

.nested_items .subitem{
	margin-left: 10px;
}

.nested_items .remove_menu{
	margin-left: 20px;
}

.nested_items .controls .remove, .nested_tree .remove_menu{
	color: #993333;
}

.nested_items .controls .remove:hover, .nested_tree .remove_menu:hover{
	color: red;
}

.nested_items .controls select{
	margin-right: 7px;
}
.nested_items .controls select:last-child{
	margin-right: 0px;
}

.nested_items.dropdown._admin .item_cont:hover>a>span.text,
.nested_items.dropdown._admin .item:hover>a>span.text{
	text-decoration: underline;
}

.nested_items.dropdown._admin .items .item{
	float: none;
	min-height: 65px;
	text-align: left;
}

.nested_items.dropdown._admin .items .item>a>div{
	min-width: 65px;
	display: inline;
	float: left;
	margin-right: 7px;
}

.nested_items.dropdown._admin .items .item img{
	height: 60px;
}

/*edit*/
.gallery.file_edit{
	text-align: center;
}
.gallery.file_edit form{
	margin-top: 20px;
	display: inline-block;
	text-align: left;
}
.gallery.file_edit form tr:last-child td input{
	display: inline;
	padding: 10px;
	width: auto;
}
.gallery.file_edit form tr:last-child td{
	text-align: center;
}
.gallery.file_edit>a>div>div{
	display: inline-block;
	border: 1px solid #777;
	padding: 2px;
}
.gallery.file_edit form input{
	width: 100%;
}

.nested_items.gallery._admin li{
	min-height: 2.2em;
}

.nested_items.dropdown .item div div.default_thumb{
	border: none;
}

table.edit_item tr:last-child td{
	padding-top: 15px;
	text-align: center;
}
table.edit_item tr:last-child input{
	padding: 7px 10px;
}

.nested_items._admin.dropdown select{
	width: 80px;
}