.nested_items .controls{
	position: absolute;
	display: none;
	padding: 3px 0 0 10px;
}

.nested_items .item .controls{
	padding: 0 0 0 80px;
}

.nested_items .item_cont:hover>.controls,
.nested_items .controls:hover{
	display: inline;
}
.nested_items .item:hover>.controls{
	display: block;
}

.nested_items .controls select.insert_place{
	width: 100px;
}

.nested_items .controls a{
	margin-right: 10px;
}

.nested_items .controls a:hover{
	text-decoration: underline;
}

.nested_items .subitem{
	margin-left: 10px;
}

.nested_items .remove_menu{
	margin-left: 20px;
}

.nested_items .controls .remove, .nested_tree .remove_menu{
	color: #993333;
}

.nested_items .controls .remove:hover, .nested_tree .remove_menu:hover{
	color: red;
}

.nested_items .item .controls{

}

.nested_items .controls select{
	margin-right: 7px;
}
.nested_items .controls select:last-child{
	margin-right: 0px;
}

.nested_items.dropdown._admin .item_cont:hover>a>span.text,
.nested_items.dropdown._admin .item:hover>a>span.text{
	text-decoration: underline;
}