.nested_items .item_cont{
	min-height: 3.3em;
}

.nested_items .controls{
	min-height: 1.5em;
}
.nested_items .controls>*{
	display: none;
}

.nested_items li:hover>.controls>div, .nested_items .item:hover>.controls>div{
	display: inline;
}

.nested_items .controls select.insert_place{
	width: 100px;
}

.nested_items .controls a{
	margin-right: 10px;
}

.nested_items .controls a:hover{
	text-decoration: underline;
}

.nested_items .subitem{
	margin-left: 10px;
}

.nested_items .remove_menu{
	margin-left: 20px;
}

.nested_items .controls .remove, .nested_tree .remove_menu{
	color: #993333;
}

.nested_items .controls .remove:hover, .nested_tree .remove_menu:hover{
	color: red;
}

.nested_items .controls{
	padding-left: 50px;
	position: absolute;
}

.nested_items .item .controls{
	padding-left: 90px;
}

.nested_items .controls select{
	margin-right: 7px;
}
.nested_items .controls select:last-child{
	margin-right: 0px;
}