.nested_items.dropdown ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.nested_items.dropdown ul{
	padding-left: 20px;
}
.nested_items.dropdown li span, .nested_items.dropdown li>a>img{
	padding: 0 7px 0 0;
}

/*dropdown list*/

.nested_items.dropdown li>.item_cont>a>span.folder_icon{
	background: url("/module/base_module/img/category_down.png") no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-top: 3px;
}

.nested_items.dropdown li.active>.item_cont>a>span.folder_icon{
	background: url("/module/base_module/img/category_up.png") no-repeat;
}

.nested_items.dropdown .loading{
	float:right;
}

.nested_items.dropdown .item div div{
	display: inline-block;
	border: 1px solid #777;
	padding: 2px;
	margin-bottom: 5px;
}

.nested_items.dropdown ._admin .item>a>div{
	float: left;
	display: inline;
}
.nested_items.dropdown .img a{
	margin: 0 auto;
}
.nested_items.dropdown li a{
	text-decoration: none;
}
.nested_items.dropdown ul.ready_style ul{
	list-style: none;
	padding: 0 0 7px 5px;
	margin: 0 0 10px 7px;
	border-left: 1px solid #CCC;
	background: url("/module/base_module/img/corner.png") no-repeat bottom left;
}

.nested_items.dropdown ul.items{
	background: none;
	border: none;
	list-style: disc;
	padding: 0 0 0 12px;
}

.article.nested_items.dropdown ul ul{
	margin: 0 0 0 7px;
}

/*.nested_items.dropdown._admin ul ul{
	position: relative;
	top: -20px;
	padding-top: 20px;
}*/

.nested_items.dropdown .empty{
	padding: 30px 0;
}

/*.nested_items .items{
	clear: both;
}*/

/*gallery*/

.nested_items.dropdown .items .item{
	/*float: left;*/
	display: inline-block;
	text-align: center;
	min-width: 180px;
	min-height: 210px;
	padding:5px;
}

.nested_items.dropdown .items .item .default_thumb{
	border: none;
}

.nested_items.dropdown._admin .items .item{
	display: block;
}