.article ul.items a:last-child{
	float: right;
}
.article .items{
	padding-left: 20px;
}
.article .items h4{
	margin: 10px 0 2px;
}
.article .items .text{
	margin-left: 1.5em;
	text-align: justify;
}


.article_edit{
	text-align: right;
}
.article_edit a{
	text-decoration: none;
}
.article_edit span{
	text-decoration: underline;
}